/** Add css rules here for your application. */
.color {
	background-image:url(images/colorIcon.gif);
}

.red { color: #EE5555; }
.green { color: green; }

.task-approval-title {
  margin-top: 4px;
  margin-bottom: 2px;
  font-weight: bold;
  padding-left: 1px;
}

.task-approval-date {
  margin-bottom: 2px;
}

